a {
    text-decoration: none;
}

.menu__link {
    color: #000;
}

.menu__link:hover {
    color: green;
}

.button {
    display: block;
    width: 60px;
    height: 20px;
    color: #000;
    text-align: center;
    background-color: forestgreen;
}

.button:hover {
    background-color: lawngreen;
}

.mainPage__content {
    width:500px;
    margin-top:30px;
}

.userPage_link {
    color: #000;
}

.userPage_link:hover {
    color: green;
}